@tailwind base;
@tailwind components;
@tailwind utilities;

/* this will work on Chrome Safari and Opera */
::-webkit-scrollbar{
    display: none;
  }
  
  body{
    -ms-overflow-style: none; /* Internet Explorer and Edge */
    scrollbar-width: none;  /*firefox */
  }